.socialContact {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -36px;
    z-index: 1;

    & svg {
        color: #3C3B3B;
        background: #F06F62;
        margin: 0 50px;
        padding: 20px;
        border-radius: 50%;
        width: 32px;
        height: 32px;
    }
}

.footer {
    height: 270px;
    background: #3C3B3B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 172px;

    &__info {
        color: #ffffff;
        
        & h5 {
            font-family: 'Oswald';
            font-size: 1.25rem;
        }

        & p {
            font-family: 'Lato';
            font-size: 1rem;
        }
    }

    &__menu {
        list-style: none;
        color: #ffffff;
        font-family: 'Lato';

        & li {
            padding-bottom: 15px;
        }
    }
}