$primary: #e3635b;
$primary-dark: #aa4a44;
$primary-light: #ea8a84;

$secondary: #4ba5ae;
$secondary-dark: #387c82;
$secondary-light: #78bbc2;

$white: #ffffff;
$white-hover: #f7f7f7;
$icon-button-hover: rgba(0, 0, 0, 0.15);
$social-hover: rgba(256, 256, 256, 0.15);
$gray-background: #f0f0f0;
$dark-gray-background: #3c3b3b;
$error: #d31823;

$text-over-primary: #ffffff;
$text-over-secondary: #ffffff;

$text-primary: rgba(0, 0, 0, 0.8);
$text-secondary: rgba(0, 0, 0, 0.6);
$text-disabled: rgba(0, 0, 0, 0.38);

$outline: rgba(0, 0, 0, 0.2);
$product-card-bg: #d04740;
$product-icon: #ffffff;
$service-icon-base: #676767;

$navbar-height: 4.375rem;
