$primary: #f06f62;
$primary-dark: #b45349;
$primary-light: #f49389;

$secondary: #4ba5ae;
$secondary-dark: #387c82;
$secondary-light: #78bbc2;

$white: #ffffff;
$white-hover: #f7f7f7;
$gray-background: #f0f0f0;
$error: #d31823;

$text-over-primary: #ffffff;
$text-over-secondary: #ffffff;

$text-primary: rgba(0, 0, 0, 0.8);
$text-secondary: rgba(0, 0, 0, 0.6);
$text-disabled: rgba(0, 0, 0, 0.38);

$outline: rgba(0, 0, 0, 0.2);
$product-card-bg: #923838;

$navbar-height: 4.375rem;
