<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="EmailConfirmation.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
    </head>
    <body>

        <section>
            <p>Olá, {form.name}</p>
            <p>Obrigada pelo seu contato. Em breve retornaremos sua mensagem!</p>

            <p style="font-weight: bold;">Atenciosamente,</p>
            <img src="../assets/branco.svg"/>
        </section>
        

    </body>

</html>
