@media screen and (min-width: 0px) {

    .banner {
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
    }

    .bannerHero {
        height: 100vh;
        width: 100%;
        background:  #F06F62;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow-x: hidden;

        &__text {
           margin-left: 20px;
           z-index: 99;
          
        }
    
        &__title {
            font-family: 'Oswald';
            font-size: 2.3rem;
            font-weight: 600;
            color: #3C3B3B;
            width: 0;
            overflow: visible;
            padding: 0; 
            margin: 0;
        }
    
        &__caption {
            font-family: 'Lato';
            font-size: 28px;
            color: #3C3B3B;
            padding: 0; 
            margin: 0;
            width: 100%;
            overflow: visible;
        }

        &__image {
          width: 700px;
          position: absolute;
          top: 70px;
          right: 10px;
        }
    }

}




@media screen and (min-width: 720px) {

    .banner {
      overflow-x: hidden;
      display: flex;
      flex-direction: row;
    }

    .bannerHero {

        &__text {
          margin-left: 200px;
          z-index: 99;
        
       }

        &__title {
            font-size: 5.3rem;
        }

        &__caption {
            width: 60%;
        }


        &__image {
          width: 900px;
          position: absolute;
          top: 70px;
          right: 60px;
        }

    }

}

