$background-color: #3C3B3B;
$text-color: #ffffff;

@media screen and (min-width: 0px) {

  .banner {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: $background-color;
    // max-height: calc(100vh - 90px);
    min-height: calc(100vh - 120px);
    padding-top: 90px;
    padding-bottom: 30px;

  }

  .bannerHero {
    &__text {
      flex-shrink: 0;
      width: 90%;
      height: 50%;
      max-width: 600px;
      // margin-top: calc(10% + 90px);
      // margin-top: 100px;
      // margin-left: 20px;
      z-index: 99;

    }

    &__title {
      font-family: 'Oswald';
      font-size: 2.3rem;
      font-weight: 600;
      color: $text-color;
      width: 0;
      overflow: visible;
      padding: 0;
      margin: 0;
    }

    &__caption {
      font-family: 'Lato';
      font-size: 20px;
      color: #fff;
      padding: 0;
      margin: 0;
      width: 100%;
      overflow: visible;
    }
    &__image-container {
      flex-shrink: 0;
      width: 90%;
      height: 50%;
      // margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__image {
      width: 90%;
      max-width: 400px;
      // max-height: 60%;
      // position: absolute;
      // bottom: 5%;
      // right: 10%;
    }
  }

}




@media screen and (min-width: 1270px) {

  .banner {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
  }

  .bannerHero {
    &__text {
      width: 50%;
      height: 100%;

      // max-width: 600px;
      margin-top: 0;
      margin-left: 20px;

    }
    // &__text {
    //   margin-top: 90px;
    //   margin-left: 10%;
    //   z-index: 99;
    //   width: 50%;
    // }

    &__title {
      font-size: 5.3rem;
    }

    &__caption {
      font-size: 28px;
    }

    &__image-container {
      width: 50%;
      height: 100%;

    }
    &__image {
      width: 80%;
      max-width: 900px;
      // position: absolute;
      // top: 25vh;
      // left: unset;
      // right: 5%;
    }

  }

}