$background-color: #3C3B3B;
$text-color: #ffffff;

@media screen and (min-width: 0px) {

  .banner {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: $background-color;
    height: 100vh;

  }

  .bannerHero {
    &__text {
      width: 90%;
      margin-top: calc(20% + 90px);
      margin-left: 20px;
      z-index: 99;

    }

    &__title {
      font-family: 'Oswald';
      font-size: 2.3rem;
      font-weight: 600;
      color: $text-color;
      width: 0;
      overflow: visible;
      padding: 0;
      margin: 0;
    }

    &__caption {
      font-family: 'Lato';
      font-size: 20px;
      color: #fff;
      padding: 0;
      margin: 0;
      width: 100%;
      overflow: visible;
    }

    &__image {
      max-width: 80%;
      max-height: 60%;
      position: absolute;
      bottom: 5%;
      right: 10%;
    }
  }

}




@media screen and (min-width: 1270px) {

  .banner {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
  }

  .bannerHero {

    &__text {
      margin-top: 90px;
      margin-left: 10%;
      z-index: 99;
      width: 30%;
    }

    &__title {
      font-size: 5.3rem;
    }

    &__caption {
      font-size: 28px;
    }


    &__image {
      width: 40%;
      max-width: 900px;
      position: absolute;
      top: 25vh;
      left: unset;
      right: 5%;
    }

  }

}