$white: #ffffff;
$dark-gray: #3C3B3B;
$green: #4BA5AE;
$orange: #F06F62;

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: all 300ms ease-in-out;

    &__logo {
        position: relative;
        left: 50px;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        list-style: none;
        position: relative;
        right: 50px;

    }

    &__menu-item {
        font-family: 'Lato';
        margin: 0 48px;
        font-size: 1.25rem;
        cursor: pointer;
        color: $white;

        &--black {
            color: $dark-gray;
        }
    }

    &__menu-mobile__icon {
        position: relative;
        right: 50px;
        cursor: pointer;
        color: $white;

        &--black {
            color: $dark-gray;
        }

    }


    &__menu-mobile__container {
        display: none;
    }

    &__menu-mobile__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 100px;
        padding: 0;

        & a>li {
            font-family: 'Lato';
            font-size: 1.25rem;
            margin: 24px 0;
        }
    }

    &__menu-open {
        display: block;
        background-color: #fff;
        position: fixed;
        z-index: 9999;
        width: 100%;
        height: 100%;
    }



}