.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;


    &__logo {
       position: relative;
       left: 50px;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        list-style: none;
        position: relative;
        right: 50px;

        &--item {
            font-family: 'Lato';
            margin: 0 48px;
            font-size: 1.25rem;
            cursor: pointer;
        }
       
    }

    &__menu-mobile__icon {
        position: relative;
        right: 50px;
        cursor: pointer;
       
    }


    &__menu-mobile__container {
        display: none;
    }

    &__menu-mobile__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 100px;
        padding: 0;

        & > li {
            font-family:'Lato';
            font-size: 1.25rem;
            margin: 24px 0;
        }
    }

    &__menu-open {
        display: block;
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 100%;
    }


   
}