.form {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__input {
        margin-bottom: 14px !important;
        background-color: #ffffff !important;
        border-radius: 3px !important;

        & div {
            font-family: 'Lato' !important;
        }
       
    }

    &__select {
        margin-bottom: 14px !important;
        background-color: #ffffff !important;
        border-radius: 3px !important;
        padding: 18.5px 14px;
        font-family: 'Lato' !important;
        color: rgba(0, 0, 0, 0.4) !important;

        &:before {
            border-bottom: none !important;
        }
    }

    &__button {
        background: #4BA5AE !important;
        border-radius: 3px !important;
        text-transform: capitalize !important;
        font-family: 'Lato' !important;
        font-size: 1rem !important;
        padding: 10px 0px !important;
    }
}
