@media screen and (min-width: 0px) {
    .partnerContainer {
        display: flex;
        flex-direction: column;
        background: url('../../assets/parceiros.png') #4BA5AE;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .partners {
        height: auto;
        background: url('../../assets/parceiros.png') #4BA5AE;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        flex: 1 1 auto;

    
        &__title {
            margin: 25px;
            & h1 {
                font-family: 'Oswald';
                font-size: 3.3rem;
                margin: 0;
                padding: 0;
            }
        }
    
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 25%;
            height: 100%;
            
            & img {
                width: 200px;
                padding: 10px;
            }    

            & p {
                font-family: 'Lato';
                font-size: 1.1rem;
                padding: 0;
                margin: 0;
                text-align: center;
            }
            
            
        }
    }

    .carousel-container {
        width: 90%;
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 700px) {

    .partners {

        
    }

}


@media screen and (min-width: 800px) {

    .partnerContainer {
        display: flex;
        flex-direction: row;
        background: url('../../assets/parceiros.png') #4BA5AE;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .partners {
        display: flex;
        flex-direction: row;
        padding: 100px 100px;

        &__title {
            margin-left: 150px;
            & h1 {
                font-family: 'Oswald';
                font-size: 5.3rem;
                margin: 0;
                padding: 0;
            }
        }

       
    }

    .carousel-container {
        width: 60%;
        padding-right: 100px;
    }

   
}

