@media screen and (min-width: 0px) {
    .partners {
        height: auto;
        background: url('../../assets/parceiros.png') #4BA5AE;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        &__title {
            margin: 25px;
            & h1 {
                font-family: 'Oswald';
                font-size: 3.3rem;
                margin: 0;
                padding: 0;
            }
        }
    
        &__list {
            list-style: none;
            margin: 25px;
            padding:0;

            &--item {
                & img {
                    width: 100px;
                }    
    
                & p {
                    font-family: 'Lato';
                    font-size: 1.1rem;
                    width: 90%;
                }
            
            }
        }
    }
}

@media screen and (min-width: 700px) {

    .partners {

        &__list {
            margin-left: 128px;
        }
    }

}


@media screen and (min-width: 800px) {
    .partners {
        display: flex;
        flex-direction: row;
        padding: 100px 150px;

        &__title {
            margin-left: 150px;
            & h1 {
                font-family: 'Oswald';
                font-size: 5.3rem;
                margin: 0;
                padding: 0;
            }
        }

       
    }

   
}

